

<div class="row">

  <div class="span4">
    <div class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <%= form_for @user, {url:"/authentications", method:"post"} do |u| %>
        <%= u.text_field :name, placeholder: 'Login', class: "form-control" %>
        <%= u.text_field :password, placeholder: 'Password', class: "form-control" %>
        <%= u.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div id="little_squid">
      <%= image_tag("icon_12656/icon_12656.svg") %>
    </div>
  </div>

  <div class="span4">
    <div class="contribution">
      Image created by Cecilia Morales from the Noun Project
    </div>
  </div>

</div>

