<!-- Pass user to Javascript -->
<%= content_tag :div, class: "user_info", data: {user_id: @user.id} do %>
<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1> Hi <%= @user.name %> </h1>
    </div>
  </div>

  <div class="row">
    <div id="create_new_graph" class="col-md-12">
      <!-- Placeholder for graphs#new -->
    </div>
  </div>

  <div class="row">
    <div id="btn_container">
      <div class="col-md-2">
        <%= button_to "View All Graphs", user_graphs_path(@user.id), method: :get,
          class: "btn btn-primary float_left" %>
      </div>

      <div class="col-md-2">
        <%= button_to "Sign out", authentication_path(@user.id), method: :delete, 
          class: "btn btn-primary float_left" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= image_tag("icon_15627/icon_15627.svg", size: "300x261") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      Giant Squid by Angela Dinh from The Noun Project
    </div>
  </div>

</div>