<!DOCTYPE html>
<html>
<head>
  <title>DataSquid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Breadcrumbs -->
<%= render_breadcrumbs %>

<!-- Show flash messages -->
<div class="container">
  <div class="row">
    
      <% flash.each do |name, msg| -%>
        <div class="col-md-4">
          <%= image_tag("icon_12544/icon_12544.svg", size: "50x50", style: "float: left") %>
          <%= content_tag :div, msg, class: name %>
        </div>
      <% end -%>
    </div>

  </div>
</div>

<%= yield %>

</body>
</html>
