<!DOCTYPE html>
<html>
<head>
  <title>DataSquid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Breadcrumbs -->
<%= render_breadcrumbs %>

<!-- Show flash messages -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
